<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta property="og:title" content="Rifting Wrapped - {{ username }}'s 2025 Stats" />
    <meta property="og:description" content="{{ username }} spent {{ hours_played }} hours on the Rift this year. Check out their top stats!" />
    <meta property="og:image" content="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/{{ champ_name }}_0.jpg" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://riftingwrapped.com/player/{{ puuid }}" />

    <title>Rifting Wrapped - {{ username }}</title>

    <link rel="canonical" href="https://riftingwrapped.com/player/{{ puuid }}" />

</head>


<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-3KJTMB7K3W"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-3KJTMB7K3W');
</script>


<body >
    <script>
        setTimeout(() => {
            window.location.href = `https://riftingwrapped.com/player/{{ puuid }}`;
        }, 1000);
    </script>

    

    <p>If you are not redirected, <a href="https://riftingwrapped.com/player/{{ puuid }}">click here</a>.</p>

    <noscript>
        <meta http-equiv="refresh" content="1; https://riftingwrapped.com/player/{{ puuid }}" />
    </noscript>

</body>
</html>
