:root {
    --bg-color: #1a1a19;
    --second-bg-color: #353235;

    --accent-color: #c52184;
    --accent-background-color: #c5218426;
    --text-color: #FFFFFF;
    --text-muted-color: #D9D9D9;
}


section {
    margin: 0 auto;

    color: var(--text-color);
    text-align: center;
    background: var(--bg-color);
    border-radius: 8px;
    padding: 32px 16px;
    width: 800px;
    max-width: 88vw;
}



.subsection-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 8px;
    margin-top: 12px;
    flex-wrap: wrap;
}

.subsection {
    background: var(--second-bg-color);
    border-radius: 12px;
    padding: 16px 12px;
    text-align: center;
    flex: 1;
    min-width: 100px;
}

.capsule {
    display: inline-block;
    background: var(--accent-background-color);
    color: var(--accent-color);
    font-size: 12px;
    font-weight: 500;
    padding: 4px 12px;
    border-radius: 20px;
}


.subtitle {
    margin: 0 0 12px;
    color: var(--text-muted-color);
    font-size: 13px;
    font-weight: 400;
}

h1 {
    font-size: clamp(20px, 5vw, 26px);
    margin: 10px 16px 2px 16px;
    white-space: nowrap;
    font-weight: 500;
    text-transform: capitalize;
    text-wrap: pretty;
}

h2 {
    text-transform: capitalize;

}


hr {
    color: #3b3b3b;
}


p {
    padding: 0;
    margin: 1rem;
    text-wrap:pretty;
}

.emphasize {
    color: var(--text-color);
    font-weight: 600;
    letter-spacing: -0.01em;
}

.emphasize {
    font-weight: 600;
}

.emphasize-sm {
    font-size: 14px;
}

.emphasize-md {
    font-size: 20px;
    font-weight: 600;

}

.emphasize-lg {
    font-size: clamp(20px, 5vw, 32px);
    font-weight: 800;
}

.emphasize-xlg {
    font-size: clamp(32px, 8vw, 48px);
    font-weight: 800;
}