#PositionBreakdownContainer {
    width: 90vw;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

@media (max-width: 768px) {
    #PositionBreakdownContainer {
        flex-direction: column;
        gap: 15px;
        width: 95vw;
        height: auto;
    }
}



#DamageSectionContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-width: 60vw;
    gap: 50px;
}

@media (max-width: 768px) {
    #DamageSectionContainer {
        grid-template-columns: 1fr;
        gap: 15px;
        min-width: auto;
        width: 95vw;
    }
}


#ChampHistogram {
    width: 400px;
    margin-left: 50px;
    margin-top: 30px;
}

@media (max-width: 768px) {
    #ChampHistogram {
        width: 90vw;
        margin-left: 0;
        margin-top: 20px;
    }
}


#SurrenderGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    width: 80vw;
    height: 60px;
    justify-content: center;
    align-items: center;
}

#SurrenderGrid h2 {
    grid-row: 1;
    font-weight: 300;
    text-align: center;
    height: 100px;
    margin: 0px;
}

#ChampName {
    font-weight: 300;
    text-align: left;
    margin-bottom: 5px;
}


.generic-error {
    display: none;
}

h2 {
    font-weight: normal;
}

h3 {
    font-weight: normal;
}

h4 {
    font-weight: normal;
}


.roleHeader {
    font-weight: 800;
    margin: 2px;
}

.emphasize {
    font-weight: 800;
    font-size: 25px;
}

.centeredColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.centeredRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.splitColumn {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
}

.verticalSpacing {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.centeredText {
    margin: 5px;
    text-align: center;
}

.chartContainer {
    height: 300px;
    width: 600px;
    margin-right: 50px;
}

@media (max-width: 768px) {
    .chartContainer {
        width: 90vw;
        height: auto;
        margin-right: 0;
    }
}



.tableEntry {
    padding: 5px 0px 5px 0px;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    min-width: 600px;
    justify-content: center;
    align-items: center;
}


.tableEntry p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 4px 0px 4px 0px;
}

.tableEntry span {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .tableEntry {
        grid-template-columns: 1fr 1fr;
        min-width: auto;
        gap: 5px;
    }
}




.fade-in {
    opacity: 0.1;
    animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}






@media (max-width: 600px) {
    #SurrenderGrid h2 {
        font-size: 14px;
        line-height: 1.3;
    }

    #SurrenderGrid .emphasize {
        font-size: 18px;
    }

    #SurrenderGrid+h2 {
        font-size: 14px;
        line-height: 1.3;
    }

    #SurrenderGrid+h2 .emphasize {
        font-size: 20px;
    }
}



.champSectionWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    flex-wrap: wrap;
}

.champText h1,
.champText h2 {
    text-align: left;
}

@media (max-width: 800px) {
    .champSectionWrapper {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .champText {
        text-align: center;
        max-width: 90vw;
    }

    .champText h1 .emphasize {
        font-size: 40px;
    }

    .champText h2 {
        font-size: 16px;
    }

    #ChampHistogram {
        width: 90vw;
        margin-left: 0;
    }
}



.sectionImageContainer {
    height: 300px;
    width: fit-content;
    overflow: hidden;
    position: relative;
}

@media (max-width: 600px) {
    .sectionImageContainer {
        height: 200px;
    }
}

@media (max-width: 400px) {
    .sectionImageContainer {
        height: 150px;
    }
}


@media (max-width: 768px) {
    .shareButtonRow {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
        gap: 10px;
        justify-items: center;
        align-items: center;
        width: 400px;
    }

    .shareButtonRow button,
    .shareButtonRow a {
        width: 100%;
        max-width: 200px;
        padding: 12px;
        font-size: 0.9rem;
        text-align: center;
    }
}



.chartContainer,
#ChampHistogram {
    width: 90vw;
    max-width: 500px;
    height: auto;
}


@media (max-width: 600px) {
    .emphasize {
        font-size: 18px;
    }

    h2 {
        font-size: 1.2rem;
    }

    h3 {
        font-size: 1rem;
    }

    .champText h1 {
        font-size: 28px;
    }

    .champText h2 {
        font-size: 16px;
    }
}




.shareButton {
    background-color: #696c70ff;
    color: white;
    width: 200px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    display: inline-block;
    border-radius: 5px;
    margin: 5px;
}

.shareButton.twitter {
    background-color: #186ac7ff;
}

.shareButton.facebook {
    background-color: #094a94ff;
}

.shareButton.reddit {
    background-color: #ce280aff;
}

@media (max-width: 768px) {
    .splitColumn {
        flex-direction: column;
        gap: 15px;
    }

    .verticalSpacing {
        text-align: left;
    }

    .chartContainer {
        width: 95vw;
        margin: 20px auto;
    }
}


.champTableGrid {
    position: relative;
    width: 50px;
    margin-left: 20px;
}


@media (max-width: 768px) {
    .tableEntry {
        flex-direction: column;
        align-items: center;
    }

    .table-entry-container {
        width: 300px;
        margin: 0 auto;
        ;
    }

    .champTableGrid {
        order: 0;
        margin-left: 50px;

    }

    .objectivesGrid {
        order: 1;
    }

    .kdaGrid {
        order: 2;
        text-align: center;
    }

    .csGrid {
        order: 3;
        text-align: center;
    }

    .champGrid,
    .objectivesGrid,
    .kdaGrid,
    .csGrid {
        width: 100%;
    }
}


.tableLabel {
    font-size: 0.85rem;
    font-weight: 500;
    color: #b0b0b0;
    text-align: center;
    margin-top: 4px;
    margin-bottom: 12px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}