.footer__disclaimer {
    font-size: 12px;
    color: #888;
    max-width: 800px;
    margin: 20px auto;
    line-height: 1.6;
    text-align: center;
    padding-bottom: 40px;
}


.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #0f2331;
    color: #fff;
    top: 0;
    z-index: 1000;
}

.site-header__title {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.site-header__logo {
    width: 26px;
    height: 26px;
}

.site-header__nav a {
    margin-left: 20px;
    color: #ccc;
    text-decoration: none;
    font-size: 16px;
}

.site-header__nav a:hover {
    color: #fff;
}



@media (max-width: 768px) {
    .site-header {
        flex-direction: column;
        align-items: flex-start;
        padding: 12px 16px;
    }


    .site-header__nav {
        margin-top: 8px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .site-header__nav a {
        font-size: 14px;
        margin-left: 0;
    }

    .footer__disclaimer {
        font-size: 11px;
        padding: 20px 10px 30px 10px;
        max-width: 90vw;
    }

}