body {
    margin: 0;
    font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
    background-color: #0D1317;
    color: #FFFCE8;
    overflow-x: hidden;
    overscroll-behavior: none;
}

#root {
    position: relative;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    height: 100vh;
    overscroll-behavior: none;
}

@media (max-width: 768px) {
    #root {
        min-height: auto;
        height: auto;
    }
}