body {
  margin: 0;
  font-family: 'Jakarta Sans', sans-serif;
  background-color: #0D1317;
  color: #FFFCE8;
  overflow-x: hidden;
}

#root {
  position: relative;
  min-height: 90vh;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

#FooterNote {
  text-align: center;
  color:#dcdae0;
}


#PositionBreakdownContainer {
  width: 90vw;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

#DamageSectionContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-width: 60vw;
  gap: 50px;
}

#ChampHistogram {
  width: 400px;
  margin-left: 50px;
  margin-top: 30px;
}

#SurrenderGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  width: 80vw;
  height: 60px;
  justify-content: center;
  align-items: center;
}

#SurrenderGrid h2 {
  grid-row: 1;
  font-weight: 300;
  text-align: center;
  height: 100px;
  margin: 0px;
}

#ChampName {
  font-weight: 300;
  text-align: left;
  margin-bottom: 5px;
}

h2 {
  font-weight: normal;
}

h3 {
  font-weight: normal;
}

h4 {
  font-weight: normal;
}


.roleHeader {
  font-weight: 800;
  margin: 2px;
}

.emphasize {
  font-weight: 800;
  font-size: 25px;
}

.centeredColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.centeredRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.splitColumn {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
}

.verticalSpacing {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.centeredText {
  margin: 5px;
  text-align: center;
}

.chartContainer {
  height: 300px;
  width: 600px;
  margin-right: 50px;
}

.tableEntry {
    padding: 5px 0px 5px 0px;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    min-width: 600px;
    justify-content: center;
    align-items: center;
}


.tableEntry p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 4px 0px 4px 0px;
}

.tableEntry span {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.fade-in {
  opacity: 0.1;
  animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
