
.win_span{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #016d01;
    background-color: #98f898;
    /* border:solid #016d01 2px; */
    text-align:center;
    border-radius: 5px;
    /* margin: 2px; */
    font-weight: bold;
    width: 60%;
    margin-left: 20%;
}


.loss_span{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6d1301;
    background-color: #f89d98;
    /* border:solid #016d01 2px; */
    text-align:center;
    border-radius: 5px;
    /* margin: 2px; */
    font-weight: bold;
    width: 60%;
    margin-left: 20%;
}

.tableHeader{
    display: grid;
    grid-template-columns: 15% 10% 20% 20% 15% 20%;
    min-width: 45vw; 
    width: 45vw;
    max-width: 300px;
    background-color: #352241;
    /* border-radius: 5px; */

  }

.tableHeader p{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* text-decoration: underline; */
    font-weight: 700;
    margin: 8px 0px 8px 0px;
    /* background-color: #BF4E30; */
}


.tableEntry{
    padding: 5px 0px 5px 0px;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%  20%;
    min-width: 600px; 
    /* width: 45vw;
    max-width: 300px; */
    justify-content: center;
    align-items: center;
    /* background-color: #3a3561; */

    /* justify-content: center;
    align-items: center; */
  }

  .csTableHeader{
    display: grid;
    grid-template-columns: 10% 8% 20% 14% 15% 15% 9% 9%;
    min-width: 52vw; 
    width: 52vw;
    max-width: 300px;
    background-color: #004b4b;
    /* border-radius: 5px; */

  }

.csTableHeader p{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* text-decoration: underline; */
    font-weight: 700;
    margin: 8px 0px 8px 0px;
    /* background-color: #BF4E30; */
}

  .cs_tableEntry{
    padding: 5px 0px 5px 0px;
    display: grid;
    grid-template-columns: 10% 8% 20% 14% 15% 15% 9% 9%;
    min-width: 52vw; 
    width: 52vw;
    max-width: 300px;
    background-color: #1b2831;

  }

.tableEntry p{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 4px 0px 4px 0px;

}

.tableEntry span{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* .tableEntry span img{
    background-color: rgb(240, 240, 240);
} */


.cs_tableEntry p{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 4px 0px 4px 0px;
}

.cs_tableEntry span{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.kda_txt{
    font-weight: 550;
}
  
